params {
	// Home Directory, current directory
	homeDir = System.properties['user.dir']
	
	////// SAMPLE FILE //////
	inputFile = params.homeDir + '/samples.tsv'

	// CPUs
	t = 80
	// Memory
	mem = "3 GB"

	//////////////////////////////////
	///////////// params /////////////
	//////////////////////////////////

	///////////// genome and assembly for each sample ////////////
	mode = "ncrna"

	// Genome Location
	genome = "/data/liam/ref/B2_UR.fa.filtlength-125"

	// don't touch unless u wanna change how diffmod works
	ymlScript = params.homeDir + "/scripts/yml-creator.py"
	ymlDefault = params.homeDir + "/scripts/default.yml"
	pairwise = true

	// stuff for train prep
	condaenv = '/home/liam/miniconda3/envs/mbdmbd' //params.homeDir + '/../environment.yml'
	xfiltScript = params.homeDir + "/scripts/filter-xpore.py"
	readnameScript = params.homeDir + "/scripts/xpore-readnames.py"
	tableprepScript = params.homeDir + "/scripts/traintable-prep.py"
}

docker {
	enabled = true
	temp = 'auto'
	runOptions = '--memory=256g'
}
